<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is the Title</title>
</head>
<body>
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <!-- Navbar content -->
    <a class="navbar-brand">Navbar1</a>
    <a class="navbar-brand">Navbar2</a>
    <a class="navbar-brand">Navbar3</a>
    <a class="navbar-brand">Navbar4</a>

</nav>
My name is Gabriel Dicky Andrianto. I am gonna devour you for all eternity.
<br>
<img src="{{url_for('static', filename='images/LR2.png')}}" >
</body>
</html>