{% extends 'base_bootstrap.html' %}


{% block page_title %}
    {% if title %}
        <title>Gab-{{ title }}</title>
    {% else %}
        <title>Gab-Home</title>
    {% endif %}
{% endblock %}


{% block content_customized %}
    <h1>This is Patient Page</h1>
    <h2>Patient Details:</h2>
    <br>
    Patient Name = {{ patient.patient_name }}.   Patient ID = {{ patient.patient_id }}.
    <br>
    List or Recording Session(s):
    <br>
    {% for i in summary_rec_list %}
        <p>Session : <a href="{{ url_for('detail_page', active_patient_id=i.patient_id, active_rec=i.n_rec) }}">Session {{ i.n_rec }}</a>

        {% if i.is_active==true %}
            |  Status : Recording.
        {% else %}
            |  Status : Finished.
        {% endif %}

        |  Last Update = {{ i.latest_time.strftime('%A, %d-%m-%Y\t %H:%M:%S [WIB]') }}
        </p>
    {% endfor %}
    <br>
{% endblock %}